/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #header {
    height: auto;
  }
  #ligue-pra-gente {
    text-align: left;
  }
  #ligue-pra-gente a {
    font-size: 17px;
  }
  .wrapper-redes-sociais {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }
  #navbar {
    border-top: none;
  }
  #navbar a {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
