/* Header */
body {
  font-family: "PT Sans";
  color: #595B67;
  font-size: 16px;
  background: #F7F7F7;
}
#header {
  min-height: 112px;
  background: #FFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
#logo {
  margin-top: 20px;
}
#ligue-pra-gente {
  margin-top: 14px;
  display: inline-block;
}
#ligue-pra-gente .icone {
  background: #EC003D;
  padding: 8px 8px;
  color: #FFF;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 18px;
}
#ligue-pra-gente a {
  font-size: 21px;
  font-weight: 700;
  color: #EC003D;
  text-decoration: none;
  margin-left: 10px;
}
.wrapper-redes-sociais {
  display: inline-block;
  margin-left: 50px;
  margin-top: 14px;
}
.wrapper-redes-sociais a {
  background: #2D2D34;
  padding: 5px 5px;
  width: 40px;
  font-size: 20px;
  border-radius: 100%;
  margin-left: 1px;
  margin-right: 1px;
  color: #FFF;
  text-align: center;
  display: inline-block;
}
.wrapper-redes-sociais a:hover {
  background: #EC003D;
}
#navbar {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #CCC;
  padding-top: 6px;
  text-align: right;
}
#navbar a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #595B67;
  text-decoration: none;
  position: relative;
}
#navbar a:hover {
  color: #EC003D;
}
#navbar a:hover:after {
  content: "";
  position: absolute;
  left: 0px;
  top: -9px;
  width: 100%;
  z-index: 2;
  border-top: 5px solid #EC003D;
}

/* Slider */
#slider {
  width: 100%;
  height: 529px;
  float: left;
  clear: both;
  background: url("images/banner.jpg") top center;
  position: relative;
}
#slider .seta-esq {
  position: absolute;
  left: 20%;
  margin-left: -150px;
  top: 200px;
  width: 73px;
  height: 117px;
  background: url("images/seta-esq.png") no-repeat;
}
#slider .seta-dir {
  position: absolute;
  right: 20%;
  margin-right: -150px;
  top: 200px;
  width: 73px;
  height: 117px;
  background: url("images/seta-dir.png") no-repeat;
}
#slider .indicadores {
  position: absolute;
  left: 20%;
  margin-left: -60px;
  bottom: 60px;
}
#slider .indicadores a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("images/bolinha-branca.png") no-repeat;
}
#slider .indicadores a.atual {
background: url("images/bolinha-rosa.png") no-repeat;
background-position: 0px 2px;
}

/* Chamadas */
#chamadas {
  display: inline-block;
  width: 100%;
  clear: both;
  position: relative;
  top: -50px;
}
#chamadas .item {}
#chamadas .item h2 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #EC003D;
}
#chamadas .item a {
  display: inline-block;
  width: 105px;
  height: 37px;
  line-height: 37px;
  background: #2D2D34;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
#chamadas .item a:hover {
  background: #EC003D;
  font-weight: bold;
}

/* Nossos Produtos */
#nossos-produtos {
  width: 100%;
  min-height: 650px;
  float: left;
  clear: both;
  background: url("images/nossos-produtos-bg.jpg") top center repeat-x;
  position: relative;
}
#nossos-produtos h1 {
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 28px;
  margin-top: 50px;
}
#nossos-produtos p {
  color: #666;
  font-size: 16px;
}
#nossos-produtos .btn-mais-premio {
  display: inline-block;
  width: 105px;
  height: 37px;
  line-height: 37px;
  background: #EC003D;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 50px;
}
#nossos-produtos .btn-mais-premio:hover {
  font-weight: bold;
  opacity: 0.8;
}
#nossos-produtos .item {
  background: #FFF;
  padding-bottom: 30px;
  margin-top: 30px;
}
#nossos-produtos .item img {
  margin-top: 40px;
}
#nossos-produtos .item h2 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #EC003D;
}
#nossos-produtos .item a {
  display: inline-block;
  width: 105px;
  height: 37px;
  line-height: 37px;
  background: #2D2D34;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
#nossos-produtos .item a:hover {
  background: #EC003D;
  font-weight: bold;
}

/* Estrelas */
.estrelas {
  display: inline-block;
  width: 100%;
  clear: both;
  margin-top: 10px;
}
.estrela-dourada {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/estrelas.png") no-repeat;
}
.estrela {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/estrelas.png") no-repeat;
  background-position: -22px 0px;
}

/* Ultimos Informativos */
#ultimos-informativos {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}
#ultimos-informativos .bg {
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("images/nossos-produtos-bg.jpg") no-repeat;
}
#ultimos-informativos h1 {
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 28px;
  margin-top: 50px;
}
#ultimos-informativos p {
  color: #666;
  font-size: 16px;
}
#ultimos-informativos .btn-mais-informativos {
  display: inline-block;
  width: 150px;
  height: 37px;
  line-height: 37px;
  background: #EC003D;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 50px;
}
#ultimos-informativos .btn-mais-premio:hover {
  font-weight: bold;
  opacity: 0.8;
}
#ultimos-informativos .item {
  text-align: center;
  margin-top: 30px;
}
#ultimos-informativos .item img {
  margin-top: 20px;
}
#ultimos-informativos .item h2 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #EC003D;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#ultimos-informativos .item a {
  display: inline-block;
  width: 105px;
  height: 37px;
  line-height: 37px;
  background: #2D2D34;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
#ultimos-informativos .item a:hover {
  background: #EC003D;
  font-weight: bold;
}

/* Top Footer */
#topfooter {
  margin-top: 50px;
    width: 100%;
    float: left;
    clear: both;
    position: relative;
}
#topfooter img {
  width: 100%;
}
#topfooter .agendamento-online {
  background: url("images/icone-livro.jpg") no-repeat;
  padding-left: 100px;
  margin-top: 30px;
}
#topfooter .agendamento-online h2 {
  margin: 0px;
  color: #EC003D;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}
#topfooter .agendamento-online a {
  color: #EC003D;
  font-weight: bold;
  text-decoration: underline;
}
#topfooter .app-agendamento-online {
  background: url("images/icone-android.jpg") no-repeat;
  padding-left: 100px;
  margin-top: 30px;
}
#topfooter .app-agendamento-online h2 {
  margin: 0px;
  color: #EC003D;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}
#topfooter .app-agendamento-online a {
  color: #EC003D;
  font-weight: bold;
  text-decoration: underline;
}

/* Main Footer */
#mainfooter {
  margin-top: 50px;
    width: 100%;
    min-height: 200px;
    float: left;
    clear: both;
    position: relative;
    background: url("images/informativos-bg.jpg") repeat-x;
}
#mainfooter .whatsapp {
  display: inline-block;
  margin-right: 12px;
}

#mainfooter .telefone {
  display: inline-block;
}
#mainfooter .icone {
  background: #EC003D;
  padding: 8px 8px;
  color: #FFF;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 18px;
}
#mainfooter .wrapper-redes-sociais {
  display: inline-block;
  margin-left: 12px;
}
#mainfooter strong {
color: #FFF;
font-weight: bold;
}
#mainfooter strong.rosa {
  font-size: 18px;
  color: #EC003D;
}
#mainfooter .wrapper-redes-sociais a {
  background: #EC003D;
}
#mainfooter .wrapper-redes-sociais a:hover {
  background: #FFF;
  color: #EC003D;
}
#mainfooter .lastline {
  color: #FFF;
}

/* Quem Somos */
.pagetitle {
      width: 100%;
      min-height: 100px;
      float: left;
      clear: both;
      position: relative;
      background: url("images/informativos-bg.jpg") repeat-x;
}
.pagetitle h1 {
  color: #FFF;
  text-transform: uppercase;
  line-height:100px;
}
.pagewrapper {
  padding-top: 70px;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}
.pagewrapper h2 {
  font-weight: bold;
  font-size: 28px;
  color: #EC003D;
  margin-bottom: 30px;
}

.nossa-equipe-wrapper .item {
  border: 8px solid #FFF;
  padding-bottom: 0px !important;
}
.nossa-equipe-wrapper .item img {
  margin: 0px !important;
  width: 100%;
}
.nossa-equipe-wrapper .item h2 {
  height: 60px;
  line-height: 60px;
}
.nossa-equipe-wrapper .item .infos {
  width: 100%;
  height: 80px;
  background: url("images/informativos-bg.jpg") no-repeat;
  background-size: cover;
  color: #CCC !important;
  padding-top: 20px;
  margin: 0px;
}

.nossa-equipe-wrapper .seta-esq {
  position: absolute;
  left: 20%;
  margin-left: -250px;
  top: 200px;
  width: 73px;
  height: 117px;
  background: url("images/seta-esq.png") no-repeat;
  z-index: 99;
}
.nossa-equipe-wrapper .seta-dir {
  position: absolute;
  right: 20%;
  margin-right: -250px;
  top: 200px;
  width: 73px;
  height: 117px;
  background: url("images/seta-dir.png") no-repeat;
  z-index: 99;
}

.pagetitle-with-border {
  font-size: 22px;
  color: #333 !important;
  position: relative;
}
.pagetitle-with-border:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  width: 30px;
  height: 6px;
  background: #EC003D;
}
.pagecontent {
  border-top: 1px solid #F7F7F7;
  background: #333;
  color: #CCC;
  padding: 20px;
  padding-left: 30px;
}
#cat-navbar, #cat-navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#cat-navbar li {
  margin: 0px;
  padding: 0px;
  position: relative;
}
#cat-navbar .pai-atual {
  background: #EC003D !important;
}
#cat-navbar .pai.atual {
margin-bottom: 20px;
}
#cat-navbar .pai a {
  width: 100%;
  display: inline-block;
  background: #2D2D34;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #FFF;
}
#cat-navbar .atual {
  color: #EC003D !important;
}
#cat-navbar .submenu a {
background: #2D2D34 !important;
padding-left: 30px !important;
}
#cat-navbar .submenu .submenu a {
background: #2D2D34 !important;
padding-left: 40px !important;
text-transform: none;
}
#cat-navbar .submenu .submenu a.atual {
  border-left: 6px solid #EC003D;
}
#cat-navbar .caret {
  position: absolute;
  right: 20px;
  top: 26px;
}

/* Parceiros */
.parceiros-wrapper {}
.parceiros-wrapper .item img {
  width: 100%;
}
.parceiros-wrapper .item-infos {
  background: #222;
  padding: 15px;
}
.parceiros-wrapper .item-infos p {
  margin: 0px;
  margin-bottom: 10px;
  color: #FFF;
}
.parceiros-wrapper .item-infos .icone {
  background: #EC003D;
  padding: 8px 8px;
  color: #FFF;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 18px;
  width: 36px;
  text-align: center;
}

.migalhas {

}
.migalhas p {
  color: #B5B7C2;
}
.migalhas a {
  color: #8F909A;
  font-weight: bold;
}
.migalhas span {
  color: #EC0641;
  font-weight: bold;
}

.item-produto {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.item-produto {
  background: #FFF;
  padding-bottom: 30px;
  margin-top: 30px;
}
.item-produto img {
  margin-top: 40px;
}
.item-produto h2 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #EC003D;
}
.item-produto a {
  display: inline-block;
  width: 105px;
  height: 37px;
  line-height: 37px;
  background: #2D2D34;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
.item-produto a:hover {
  background: #EC003D;
  font-weight: bold;
}
.item-produto .linha {
  position: absolute;
  width: 50%;
  bottom: 0px;
  left: 50%;
  margin-left: -25%;
  height: 6px;
  background: #EC003D;
}

.icone-contato {}
.icone-contato .icone {
  background: #EC003D;
  padding: 8px 8px;
  color: #FFF;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 18px;
  width: 36px;
  text-align: center;}

.form-contato {}
.form-contato input,
.form-contato textarea {
  background: #2D2D34;
  color: #FFF;
  border: none;
  border-radius: 0px;
}
.form-contato button {
  background: #2D2D34;
  color: #FFF;
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
}

.form-contato input::-webkit-input-placeholder,
.form-contato textarea::-webkit-input-placeholder {
  color: #FFF;
}

.form-contato input::-moz-input-placeholder,
.form-contato textarea::-moz-input-placeholder {
  color: #FFF;
}

.btn-voltar {
  display: inline-block;
  background: #2D2D34;
  padding: 10px 20px;
  color: #FFF !important;
}

.esq-produto {
  height: 380px;
  float: left;
  width: 100%;
}

.dir-produto {
  background: #2D2D34;
  height: 380px;
  float: left;
  width: 100%;
}
.dir-produto h2 {
color: #FFF !important;
text-align: left !important;
margin-top: 150px;
margin-left: 40px;
}
.dir-produto .estrelas {
  margin-left: 40px;
  text-align: left;
}
.dir-produto .price {
  margin-top: 20px;
}
.strong-label {
  display: block;
  text-transform: uppercase;
  color: #EC003D;
  font-size: 18px;
}
